.footer__column-link{
  margin: 0;
  display: flex;
  align-self: start;
  line-height: 18px;
  font-size: 18px;
  font-weight: 400;
  color: #f2f2f2;
  opacity: 1;
  transition: 0.5s;
  text-decoration: none;
}

.footer__column-link:hover{
  opacity: 0.6;
}